<launch>

  <!-- 
  An all in one example of a joystick controlling a turtle via webrtc. 
  -->


  <arg name="chat_room" default="$(optenv ROS_CHAT_ROOM robot_dance_party_0)"/>

  <!-- Turtlesim removed for Docker, include it if you run this natively -->
  <!-- 
  <node pkg="turtlesim" type ="turtlesim_node" name="sim"/>
  -->

  <include file="$(find telepresence)/launch/webrtc_split_upstream.launch" ns="upstream"/>
  <include file="$(find telepresence)/launch/webrtc_split_downstream.launch" ns="downstream"/>


</launch>
