<launch>


<arg name="chat_room" default="$(optenv ROS_CHAT_ROOM robot_dance_party_0)" />

  <node pkg="telepresence" type="rtc_string_bridge.py" name="offer_node" output="screen" >
    <remap from="data_in" to="string_a_in"/>
    <remap from="data_out" to="string_a_out"/>
    <param name="role" value="offer"/>
    <param name="room" value="$(arg chat_room)"/>
  </node>
  <node pkg="telepresence" type="rtc_string_bridge.py" name="answer_node" output="screen" >
    <remap from="data_in" to="string_b_in"/>
    <remap from="data_out" to="string_b_out"/>
    <param name="role" value="answer"/>
    <param name="room" value="$(arg chat_room)"/>
  </node>

</launch>
