<launch>

  <arg name="chat_room" default="$(optenv ROS_CHAT_ROOM robot_dance_party_0)"/>

  <!-- Turtlesim removed for Docker, include it if you run this natively -->
  <!--
  <node pkg="turtlesim" type ="turtlesim_node" name="sim"/>
  -->

  <node pkg="telepresence" type="turtle_joy.py" name="robot">
    <remap from="twist" to="turtle1/cmd_vel"/>
    <remap from="joy" to="joy_remote"/>
  </node>

  <node pkg="telepresence" type="string_joy_map.py" name="string_to_joy">
    <remap from="str_in" to="rtc_robot_out"/>
    <remap from="joy_out" to="joy_remote"/>

    <remap from="str_out" to="str_out_unused"/>
    <remap from="joy_in" to="joy_in_unused"/>
  </node>

  <node pkg="telepresence" type="rtc_string_bridge.py" name="rtc_robot" output="screen" >
    <remap from="data_in" to="rtc_robot_in"/>
    <remap from="data_out" to="rtc_robot_out"/>
    <remap from="video_out" to="rtc_robot_video_out"/>
    <param name="role" value="offer"/>
    <param name="room" value="$(arg chat_room)"/>
    <!--
    <param name="vid_src" value=""/>
    -->
    <param name="vid_src" value="aiortc"/>
    <param name="vid_src_file" value="/dev/video0"/>
    <param name="vid_src_format" value="v4l2"/>
  </node>

</launch>
