<launch>

  <arg name="chat_room" default="$(optenv ROS_CHAT_ROOM robot_dance_party_0)"/>

  <node pkg="joy" type="joy_node" name="joystick"/>

  <node pkg="telepresence" type="string_joy_map.py" name="joy_to_string">
    <remap from="joy_in" to="joy"/>
    <remap from="str_out" to="rtc_offer_node_in"/>
    
    <remap from="str_in" to="str_in_unused"/>
    <remap from="joy_out" to="joy_out_unused"/>
  </node>

  <node pkg="telepresence" type="rtc_string_bridge.py" name="rtc_offer_node" output="screen" >
    <remap from="data_in" to="rtc_offer_node_in"/>
    <remap from="data_out" to="rtc_offer_node_out"/>
    <remap from="video_out" to="rtc_offer_node_video_out"/>
    <param name="role" value="answer"/>
    <param name="room" value="$(arg chat_room)"/>
    <param name="vid_src" value=""/>
  </node>

</launch>
